<div class="wrapper-calendar">
  <div class="header-calendar">
    <div>
      <button (click)="changeMonth(-1)" class="btn btn-primary btn-sm">Antes</button>
    </div>
    <h1>{{dateSelect | date:'MMMM, yyyy' : 'UTC' | titlecase}}</h1>
    <div>
      <button (click)="changeMonth(1)" class="btn btn-primary btn-sm">Siguiente</button>
    </div>
  </div>
  <ol>
    <li *ngFor="let day of week" class="day-name">{{day | slice:0:3 | titlecase}}</li>

    <li class="day" [style.gridColumnStart]="first ? day?.indexWeek : 'auto'"
      *ngFor="let day of monthSelect; let first = first">
      <span>{{day?.value}}</span>
      <div *ngIf="!!day.reminders">
        <div *ngFor="let reminder of day.reminders" [ngStyle]="{'background-color': reminder.color}" class="reminder" (click)="openModal(reminder)"></div>
      </div>
      <div *ngIf="!!day.weatherByDay" class="img-weather" (click)="showWeatherDetail(day.weatherByDay)">
        <img  [src]="getImageIcon(day)" alt="" >
      </div>
    </li>
  </ol>
</div>

<div class="row mb-5" *ngIf="!!reminders">
  <div class="col-md-12 text-center mx-5">
    <button class="btn btn-danger btn-add mx-5" (click)="confirmDeleteReminders()" [disabled]="!reminders.length">
      <i class="bi bi-trash"></i> Eliminar todos los recordatorios
    </button>
    <button class="btn btn-primary btn-add" (click)="openModal()">
      <i class="bi bi-plus-circle"></i> Agergar Recordatorio
    </button>
  </div>
</div>
